button {
  position: absolute;
  margin-top: 300px;
  margin-left: 200px;
  width: 205px;
  height: 40px;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 800px;
  height: 800px;
}

.square {
  display:inline-block;
  width: 200px;
  height: 200px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  font-size: 100pt;
  line-height: 140pt;
}

.row {
 width: 700px;
 height:200px;
}
